.dropdown {
  position: relative;
  font-size: 0.75rem;
  max-width: 5.5rem;
  border: none;
  background: none;

  > div {
    background-color: var(--primary-color-n01);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 0.375rem 0.75rem;
    border-radius: 1.5rem;
    width: 100%;
  }

  > ul {
    position: absolute;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
    top: calc(100% + 0.25rem);
    list-style: none;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-n01);
    padding: 0.75rem;
    border-radius: 0.375rem;
    width: 100%;
    max-height: 7.5rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }

    li {
      display: flex;
      gap: 0.5rem; /* 8px -> 0.5rem */
    }
  }
}
