.currencyLogo {
  aspect-ratio: 1/1;
}

.noIcon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;

  p {
    font-size: 0.75rem;
    max-width: 2.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
